//COLOR
$turquoise          : #1abc9c;
$green_sea          : #16a085;
$wet_asphalt        : #34495e;
$midnight_blue      : #2c3e50;
$sun_flower         : #f1c40f;
$alizarin           : #e74c3c;
$clouds             : #ecf0f1;
$concrete           : #95a5a6;
$cloud              : #ecf0f1;
$silver             : #bdc3c7;
$nephritis          : #27ae60;
$midnightblue       : #2c3e50;
$carrot             : #e67e22;
$alizarin           : #e74c3c;
$peterriver         : #3498db;


//SIZE
$iphone 	: 320px;
$iphone6 	: 375px;
$iphone6plus: 414px;
$ipad 		: 768px;
$desktop 	: 992px;