@import "compass/layout";
@import "compass/css3";
@import "mixin";
@import "vars";

html {
    height: 100%;
    position: relative;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: $wet_asphalt;
    background-color: #f2f2f2;
}

a{
    color: $midnightblue;

    &:hover, &:focus{
        color: darken($midnightblue,5%);
    }
}

/* ANIMATION
-------------------------------------------- */
@include keyframes(search){
    0%{
        @include transform(rotate(0deg));
    }
    50%{
        @include transform(rotate(-40deg));
    }
    100%{
        @include transform(rotate(0deg));
    }
}

/* HEADER
-------------------------------------------- */
#header{
    height: 50px;

    .navbar{
        border-bottom: 1px solid $cloud; 
        margin-bottom: 0;
        background-color: rgba(255,255,255,1);

        @media(min-width:768px){
            background-color: rgba(255,255,255,0.90);
        }
    }

    .navbar-brand{
        color: $turquoise;
        font-weight: bold;

        @media(max-width:$ipad - 1px){
            // padding-bottom: 0;
            height: inherit;
        }

        span{
            color: $silver;
        }
    }
    .navbar-toggle{
        .icon-bar{
            background-color: $nephritis;
        }
    }
    .navbar-nav{
        font-weight: bold;
        @media(max-width:$ipad - 1px){
            margin: 0;
        }
        li{
            @media(max-width:$ipad - 1px){
                select, input[type="text"]{
                    margin: 10px 0;
                }
                span{
                    display: block;
                    line-height: 24px;
                }
            }
            @media(min-width:768px){
                select, input[type="text"]{
                    margin: 8px 0;
                }
                span{
                    padding: 15px;
                    display: block;
                }
            }
        }
    }
}

/* FOOTER
-------------------------------------------- */
#footer{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #fff;
    
    a{
        font-weight: bold;

        &:hover{
            text-decoration: none;
            border-bottom: 1px solid $alizarin;
        }
    }

    .share{
        display: inline-block;
        list-style: none;
        margin: 0 0 15px;
        padding: 0;

        li{
            float: left;
        }

        li+li{
            margin-left: 15px;
        }

        &:after{
            content: '';
            display: table;
            clear: both;
        }
    }
}

/* CONTENT
-------------------------------------------- */
#content{
    min-height: 100vh;
}

/* SCHEDULE
-------------------------------------------- */
.schedule{
    .container.alt{
        @media(max-width:$ipad - 1px){
            padding-left: 0px;
            padding-right: 0px;
        } 
    }
    .location{
        @media(max-width:$ipad - 1px){
            margin-top: 10px;
        }
    }
    table{
        > thead, > tbody, > tfoot{
            tr{
                > td, > th{
                    @media (max-width:$iphone){
                        padding: 8px 0;
                        font-size: 10px;
                    }
                    @media (min-width: $ipad){
                        font-size: 18px;
                    }
                    @media (min-width: $desktop){
                        font-size: 24px;
                    }
                }
            }
        }
        > thead{
            > tr{
                > th{
                    background-color: $wet_asphalt;
                    color: #fff;
                    text-align: center;

                    @media(max-width:$ipad - 1px){
                        span{
                            display: none; 
                        }
                    }
                }
            }
        }
        > tbody{
            > tr{
                > td{
                    text-align: center;
                }
            }
            > tr.today {
                > td{
                    background-color: $turquoise;
                    color: #fff;
                    font-weight: bold;
                }
                > td.now{
                    background-color: $alizarin;
                }
                > td.past{
                    color: $green_sea;
                }
            }
        }
    }
}


#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-50%));
    

    i{
        display: block;
        width: 100px;
        height: 100px;
        @include animation('search 2s ease-in-out infinite');
        @include at2x("img/wait","png",100px,100px);
    }
}


@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "component";
@import "fonts";
