@import "compass/layout";
@import "compass/css3";
@import "component";
@import "keyframes";
@import "mixin";
@import "fonts";
@import "vars";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html {
    height: 100%;
    position: relative;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: $wet_asphalt;
    background-color: #f2f2f2;
}

a{
    color: $midnightblue;

    &:hover, &:focus{
        color: darken($midnightblue,5%);
    }
}

/* ANIMATION
-------------------------------------------- */
@include keyframes(search){
    0%{
        @include transform(rotate(45deg));
    }
    50%{
        @include transform(rotate(0deg));
    }
    100%{
        @include transform(rotate(45deg));
    }
}

/* HEADER
-------------------------------------------- */
#header{
    border-bottom: 1px solid $cloud;
    margin-bottom: 0;
    background-color: rgba(255,255,255,1);

    @media(min-width:768px){
        background-color: rgba(255,255,255,0.90);
    }

    .navbar-brand{
        color: $turquoise;
        font-weight: bold;

        @media(max-width:767px){
            // padding-bottom: 0;
            height: inherit;
        }

        @media(min-width:768px){
            padding-left: 0;
        }

        span{
            color: $silver;
        }
    }
    .navbar-toggle{
        .icon-bar{
            background-color: $nephritis;
        }
    }
    .navbar-nav{
        font-weight: bold;
        @media(max-width:767px){
            margin: 0;
        }
        li{
            @media(max-width:767px){
                select, input[type="text"]{
                    margin: 10px 0;
                }
                span{
                    display: block;
                    line-height: 24px;
                }
            }
            @media(min-width:768px){
                select, input[type="text"]{
                    margin: 8px 0;
                }
                span{
                    padding: 15px;
                    display: block;
                }
            }
        }
    }
}

/* FOOTER
-------------------------------------------- */
#footer{
    padding-top: 30px;
    padding-bottom: 50px;

    a{
        font-weight: bold;

        &:hover{
            text-decoration: none;
            border-bottom: 1px solid $alizarin;
        }
    }
}

/* CONTENT
-------------------------------------------- */
#content{
    padding-top: 50px;
    min-height: 100vh;
}

/* SCHEDULE
-------------------------------------------- */
.schedule{
    table{
        > thead, > tbody, > tfoot{
            tr{
                > td, > th{
                    @media (max-width: 320px){
                        padding: 8px 0;
                        font-size: 10px;
                    }
                    @media (min-width: 768px){
                        font-size: 18px;
                    }
                    @media (min-width: 992px){
                        font-size: 24px;
                    }
                }
            }
        }
        > thead{
            > tr{
                > th{
                    background-color: $wet_asphalt;
                    color: #fff;
                    text-align: center;
                }
            }
        }
        > tbody{
            > tr{
                > td{
                    text-align: center;
                }
            }
            > tr.today {
                > td{
                    background-color: $turquoise;
                    color: #fff;
                    font-weight: bold;
                }
                > td.now{
                    background-color: lighten($turquoise,3%);
                }
                > td.past{
                    color: $green_sea;
                }
            }
        }
    }
}




#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-50%));
    

    i{
        display: block;
        width: 100px;
        height: 100px;
        // @include animation('search 4s infinite');
        @include at2x("img/wait","png",100px,100px);
    }
}