<div class="container">
    <div class="navbar-header">
        <a href="../" class="navbar-brand">Shalat<span>.co</span></a>
    </div>
    <nav class="navbar-collapse">
        <ul class="nav navbar-nav">
            
            <li><span>Kota Tangerang</span></li>
            <li><span>24 June 2015 16:24:00</span></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <manuallocation></manuallocation>
            </li>
            <!-- <li data-toggle="collapse" data-target=".bs-navbar-collapse"><a id="btnAbout" href="#">About</a></li> -->
        </ul>
    </nav>
</div>