<div class="page schedule" ng-controller="scheduleCtrl">
    <div class="container">
        <table class="table table-striped schedule">
            <thead>
                <tr class="hidden-xs">
                    <th>Tgl</th>
                    <th>Subuh</th>
                    <th>Dzuhur</th>
                    <th>Ashr</th>
                    <th>Magrib</th>
                    <th>Isya</th>
                </tr>
                <tr class="visible-xs">
                    <th></th>
                    <th>Sub</th>
                    <th>Dzu</th>
                    <th>Asr</th>
                    <th>Mag</th>
                    <th>Isy</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="sched in schedList">
                    <td>{{ sched.date }}</td>
                    <td>{{ sched.time.subuh }}</td>
                    <td>{{ sched.time.dzuhur }}</td>
                    <td>{{ sched.time.ashar }}</td>
                    <td>{{ sched.time.magrib }}</td>
                    <td>{{ sched.time.isya }}</td>
                </tr>
            </tbody>
        </table>
    </div><!-- .container -->
</div><!-- #schedule -->