/*





            _                      _
  _ __ ___ (_)_ __   ___ _ __ __ _| |
 | '_ ` _ \| | '_ \ / _ \ '__/ _` | |
 | | | | | | | | | |  __/ | | (_| | |_
 |_| |_| |_|_|_| |_|\___|_|  \__,_|_(_)

 site       : http://mineral.co.id
 email      : hello@mineral.co.id
 twitter    : @mineralstudio







*/
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/layout/sticky-footer";

@import "blockgrid";
@import "component";
@import "flatui";
@import "fontawesome";
@import "fonts";
@import "plugins";
@import "print";

/* MIXIN
-------------------------------------------- */
@mixin image-2x($image, $width, $height) {
    @media
        (min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6 / 2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
            background-image: url($image);
            background-size: $width $height;
    }
}

/* COLOR
-------------------------------------------- */
$turquoise          : #1abc9c;
$green_sea          : #16a085;
$wet_asphalt        : #34495e;
$midnight_blue      : #2c3e50;
$sun_flower         : #f1c40f;
$alizarin           : #e74c3c;
$clouds             : #ecf0f1;
$concrete           : #95a5a6;
$cloud              : #ecf0f1;
$silver             : #bdc3c7;
$nephritis          : #27ae60;
$midnightblue       : #2c3e50;
$carrot             : #e67e22;
$alizarin           : #e74c3c;
$peterriver         : #3498db;

/* GLOBAL
-------------------------------------------- */
html {
    height: 100%;
    position: relative;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: $wet_asphalt;
    background-color: #f2f2f2;
}

a{
    color: $midnightblue;

    &:hover, &:focus{
        color: darken($midnightblue,5%);
    }
}

/* HEADER
-------------------------------------------- */
#header{
    border-bottom: 1px solid $cloud;
    margin-bottom: 0;
    background-color: rgba(255,255,255,1);

    @media(min-width:768px){
        background-color: rgba(255,255,255,0.90);
    }

    .navbar-brand{
        color: $turquoise;
        font-weight: bold;

        @media(max-width:767px){
            padding-bottom: 0;
            height: inherit;
        }

        span{
            color: $silver;
        }
    }
    .navbar-toggle{
        .icon-bar{
            background-color: $nephritis;
        }
    }
    .navbar-nav{
        font-weight: bold;
        @media(max-width:767px){
            margin: 0;
        }
        li{
            @media(max-width:767px){
                select, input[type="text"]{
                    margin: 10px 0;
                }
                span{
                    display: block;
                    line-height: 24px;
                }
            }
            @media(min-width:768px){
                select, input[type="text"]{
                    margin: 8px 0;
                }
                span{
                    padding: 15px;
                    display: block;
                }
            }
        }
    }
}

/* FOOTER
-------------------------------------------- */
#footer{
    padding-top: 30px;
    a{
        font-weight: bold;

        &:hover{
            text-decoration: none;
            border-bottom: 1px solid $alizarin;
        }
    }
}

/* CONTENT
-------------------------------------------- */
#content{
    padding-top: 50px;
    min-height: 100vh;
    margin-bottom: -100px;
}

/* SCHEDULE
-------------------------------------------- */
.schedule{
    table{
        > thead, > tbody, > tfoot{
            tr{
                > td, > th{
                    @media (max-width: 320px){
                        padding: 8px 0;
                        font-size: 10px;
                    }
                    @media (min-width: 768px){
                        font-size: 18px;
                    }
                    @media (min-width: 992px){
                        font-size: 24px;
                    }
                }
            }
        }
        > thead{
            > tr{
                > th{
                    background-color: $wet_asphalt;
                    color: #fff;
                    text-align: center;
                }
            }
        }
        > tbody{
            > tr{
                > td{
                    text-align: center;
                }
            }
            > tr.today {
                > td{
                    background-color: $turquoise;
                    color: #fff;
                    font-weight: bold;
                }
                > td.now{
                    background-color: lighten($turquoise,3%);
                }
                > td.past{
                    color: $green_sea;
                }
            }
        }
    }
}




#loading{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);

    .holder{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}
